@charset "UTF-8";

// overrided variables
$content: 1600px !default; //944px
$sidebar: 375px !default;
$gutter: 24px !default;
$drawer: $sidebar !default;
$navbar: 64px !default;
$search: 392px !default;

$color-bg: #FAFAFA !default;