.d {
    &-flex {
        display: flex;
    }
}

.bg {
    &-white {
        background: #fff;
    }
}


.greentext {
    color: #45DF80;
}
.greytext {
    color: #9FA0A1;
}

.buttn {
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    &-success {
        background: #13DF80;
        color: #fff;
        font-size: 1.2rem;
    }
}