.business {

  .d-flex {
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    top: -7px;
    justify-content: center;
  }
  &_img {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &_rank {
    clip-path: polygon(0% 99%, 0% 0%, 100% 0%, 100% 100%, 54% 60%, 50% 60%);
    background-color: #13DF80;
    width: 95px;
    height: 95px;
    display: inline-flex;
    align-items: start;
    justify-content: center;
    flex: 1;

    div {
      font-size: 2.5rem;
      color: #fff;
      font-weight: 600;
    }

    +div {
      flex-direction: column;
      flex: 2;
      align-items: center;
      justify-content: center;
    }
  }

  &_overall {
    font-size: 2.5em;
    color: #9b9b9b;

    &-score {
      text-transform: uppercase;
    }
  }

  &_rating {
    display: inline-block;
  }

  &_total {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.6rem;
  }


  &.card {
    margin: 1rem 0;

    .business_img {
      box-shadow: none;
    }
    .card-column-left {

      padding: 24px 5px;
    }

    .business_rank {
      width: 60px;
      height: 60px;

      div {
        font-size: 1.5rem;
      }

      +div {
        font-size: 1.4rem;
      }
    }

    .business_overall {
      font-size: 1.8rem;
    }

    .business_overall-score {
      font-size: .8rem;
    }

    .card-column-left {
      padding-top: 0px !important;
      text-align: center;
    }

    .card-column-right {
      padding: 0px !important;

      img {
        height: 230px;
        object-fit: cover;
      }
    }
  }
}


.business_rating .material-icons{
  color: gold;
}
.addReviewBtn {
  width: 100%;
  height: 2.5rem;
  box-shadow: none;
  border: 0px;
  border-radius: 4px;
  background: #90CAF8;
  color: #fff;
  font-size: 1rem;
}
