.business {
    
    &_img {
        width: 100%;
    }
    &_rank{
        clip-path: polygon(0% 99%, 0% 0%, 100% 0%, 100% 100%, 54% 60%, 50% 60%);
        background-color: lightgreen;
        width: 95px;
        height: 95px;
        display: inline-flex;
        align-items: start;
        justify-content: center;
        flex: 1;
        div {
            font-size: 2.5rem;
            color: #fff;
            font-weight: 600;
        }
        +div {
            flex-direction: column;
            flex: 2;
            align-items: center;
            justify-content: center;
        }
    }

    &_overall{
        font-size: 2rem;
        &-score {
            text-transform: uppercase;
        }
    }
    &_rating{}
    &_total {
        text-align: center;
        margin: 1rem 0;

    }


    &.card {
        margin: 1rem 0;
        height: 230px;
        .business_rank {
            width: 60px;
            height: 60px;
            div {
                font-size: 1.5rem;
            }
            +div {
                font-size: 1.4rem;
            }
        }
        .business_overall {
            font-size:1.8rem;
        }
        .business_overall-score {
            font-size: .8rem;
        }
        .card-column-left {
            padding-top: 0px!important;
            text-align: center;
        }
        .card-column-right {
            padding: 0px!important;
            img {
                height: 230px;
                object-fit: cover;
            }
        }
    }
}
.addReviewBtn {
    width: 100%;
    height: 2.5rem;
    box-shadow: none;
    border: 0px;
    border-radius: 4px;
    background: deepskyblue;
    color: #fff;
    font-size: 1rem;
}