.menu-dropdown {
    &-submenu {
        left: 101%;
        top: 0%;
    }
}
#navbar {
    height: auto;
    padding: 0;
    border-bottom: solid .5px rgba(155, 155, 155, 0.5);
    .region-navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li a {
            color: #B4B5B6;
        }
       #superfish-super-main {
            .sf-depth-1 {
                border-left: solid .5px rgba(155, 155, 155, 0.5);
                &:last-child {
                    border-right: solid .5px rgba(155, 155, 155, 0.5);
                }
            }
            ul {
                background: #fff!important;
            }
        }
        form {
            display: flex;
            align-items: center;
            .form-item {
                margin: 0;
            }
            input[type="search"] {
                width: 0px;
                transition: width 1s;
                &.grow {
                    width: 160px;
                }
            }
            input[type="submit"] {
                background-image: url(../img/lookingglass.png);
                background-repeat: no-repeat;
                color: transparent;
                background-position-x: -3%;
                width: initial;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }
        @media screen and (max-width: 767px){
            #block-supermain {
                order: 3;
                .sf-accordion-toggle {
                    padding: 0 1rem;
                    .material-icons { color: rgba(155, 155, 155, 0.5); font-size: 2rem;}
                }
                #superfish-super-main-accordion {
                    &.sf-expanded {

                    }
                }
            }
            #search-block-form {
                input[type="submit"] {
                    padding: 0px;
                    margin: 0px;
                    min-width: 0px;
                }
            }
        }
    }

}

@media screen and (max-width: 767px){
    body {
        &.mobile-menu-open {
            #block-supermain {
                position: absolute;
                top: 0;
                left: 0px;
                right: 0;
                background: #fff;
                padding: 0 1rem;
            }
        }
    }
}