.menu-dropdown {
    &-submenu {
        left: 101%;
        top: 0%;
    }
}
#navbar {
    height: auto;
    padding: 0;
    .region-navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li a {
            color: #B4B5B6;
        }
       #superfish-super-main {
            list-style-type: none;
            display: inline-flex;
            padding-left: 0;
            a {
                color: #9b9b9b;
                font-size: 1rem;
            }
            >li {
                position: relative;
                border-left: 1px solid rgba(0, 0, 0, 0.6);
                background-color: #fff;
                &::active, &::hover{
                    background-color: #fff;
                }
                a.sf-depth-1.menuparent.sf-with-ul{
                    background-color: #fff!important;
                }
                &:last-child {

                    border-right: 1px solid rgba(0, 0, 0, 0.6);
                }

            }
            >li:first-child {
                width: 150px;
                // &:after {
                //     display: none;
                // }
                >a {
                    display: flex;
                    align-items: center;
                    justify-content: center;;
                }
            }
        }
        form {
            display: flex;
            align-items: center;
            .form-item {
                margin: 0;
            }
            input[type="search"] {
                width: 0px;
                transition: width 1s;
                &.grow {
                    width: 160px;
                }
            }
            input[type="submit"] {
                background-image: url(../img/lookingglass.png);
                background-repeat: no-repeat;
                color: transparent;
                background-position-x: -3%;
                width: 100%;
                &:hover,
                &:focus {
                    background-color: transparent;
                }
            }
        }
    }

}