.long-card {
    &.business {
        .d-flex {
            top: initial;
            max-width: 100%;
            flex-wrap: wrap;
        }
        .bttn {
            margin-bottom: .3rem;
        }
        .rating-star {
            width: 24px;
            height: 24px;
        }
        .business_overall {
            color: #9b9b9b;
            font-size: 3rem;
        }
        .business_rank {
            height: 96.3px;
            width: 92.6px;
            clip-path: polygon(0 1%, 100% 0, 100% 100%, 50% 77%, 0 100%);
            .field-name-field-business-rank {
                font-size: 2.5rem;
                font-weight: 400;
                margin-top: .4rem;
            }
        }
    }
    .card-item {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.card-title {
            padding:0px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

    }

    .long-card-first-half,
    .long-card-second-half{
        flex: 1;
    }
    .long-card-first-half {
        .card-column-left {
            flex-direction: column;
            flex: 1;
            padding: 0 0 1rem 0;
            justify-content: space-between;
            align-items: center;
        }
        .card-column-right {
            flex: 1.8;
            max-width: 275px;
            img {
                height: auto;
                object-fit: initial;
                display: flex;
            }
        }
    }
    .long-card-second-half {
        padding: 1.5rem 2rem;
        h2 {
            margin-top: 0;
        }
        .d-flex {
            justify-content: space-between;
            a {
                justify-content: center;
                margin: 0;
                font-size: 1rem;
                height: 40px;
                margin-bottom: .3rem;
                @media screen and (max-width: 500px){
                    &:first-child {
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    .business_score {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .business_overall-score {
            margin: .5rem 0;
            color: #9A9B9C;
        }
    }
    .field-name-body {
        margin-top: 1rem;
        font-size: .9rem!important;
        line-height: 150%;
        color: #C6C7C8;
    }

    @media screen and (max-width: 496px){
        .card-column-right img {
            max-width: 100%;
        }
        .long-card-second-half {
            .d-flex {
                flex-wrap: nowrap;
                .bttn:first-child {
                    margin-right: .5rem;
                }
            }
        }
    }

}