.tabs {
    &.content-tabs {
        ul {
            width: 100%;
            justify-content: space-between;
            li {
                flex: 1;
                a {
                    border-bottom: 1px solid #CCCDCE!important;
                    width: 100%;
                    text-align: center;;
                    &.is-active {
                        border-bottom:2px solid #3492EF!important;
                    }
                }
            }
        }
    }
}
.content-tabs-cont {
    padding-top: 3rem;
}