<div class="card card-vertical">
  <div class="card-column-left card-column-120">
    <div class="card-item card-title">
      <h3><a href="#">8.5</a></h3>
    </div>
    <div class="card-item card-text">
      <h3>{{ average_rating }}</h3>
      <p>Overall Score</p>
      <span class="rating">******</span>
    </div>
    <div class="card-item card-actions">
      <a class="btn" href="{{ url }}">Action</a>
    </div>
  </div>
  <div class="card-column-right card-column-stretch">
    <div class="card-item card-media media-cover">
      {{ content.field_business_logo }}
    </div>
  </div>
</div>