<div class="card card-vertical business-profile">
  <div class="card-column-left card-column-120">
    <div class="card-item card-title">
      <span class="business-profile_rank">{{ content.field_business_rank }}</span>
      <h3 class="business-profile_overall">{{ average_rating }}</h3>
      <span class="rating">******</span>
      <p>Overall Score</p>
    </div>
    <div class="card-item card-text">
    </div>
    <div class="card-item card-actions">
      <a class="btn" href="{{ url }}">View</a>
    </div>
  </div>
  <div class="card-column-right card-column-stretch">
    <div class="card-item card-media media-cover">
      {{ content.field_business_logo }}
    </div>
  </div>
</div>