<div class="business-contact d-flex">
    <a class="tel" href="tel:{{ content.field_business_phone.0["#context"]["value"] }}">{{ content.field_business_phone }}</a>
    <a class="d-flex buttn buttn-success" href="{{ content.field_business_url.0["#url"].uri }}" target="_blank">Visit Site</a>
</div>