<div class="business-page-detail">
  {{ content.field_business_logo }}
  <div class="">
    <span class="business-page-detail_rank">{{ content.field_business_rank }}</span>
    <div>
        <span class="business-page-detail_overall">{{ average_rating }}</span>
        <span class="rating">******</span>
    </div>
  </div>
  <div>{{ total_reviews }} User Reviews</div>
  <button>Write A Review</button>
</div>