.c-card-media {
    height: 100%;
    .card-text {
        align-items: center;
        strong {
            color: #000;
        }
        i {
            font-size: 4.6rem;
            color: #fff;
        }
    }
    &--text {
        padding: 0;
        .title {
            color: #000;
            a {color: #000;}
        }
        .card-actions {
            padding: 1rem 0;
            border-top: 1px solid #B4B5B6;
        }
    }
}
.card-item-cta {
    background: #11DF7F;
    display: inline-block;
    max-height: 75px;
    border-radius: 50%;
    cursor: pointer;
}