body {
    background: #fff;
}

.business-page-detail {
    position: relative;
    top: -6rem;
    z-index: 10;
}

.business-contact {
    align-items: center;
    justify-content: space-between;
}
.tel {
    color: #fff;
    font-size: 1.2rem;
}

#header {
    background-size: cover;
    background-position: center center;
}
.page-node-type-home-security {
    @media (min-width: 1149px) {
        #main-content {
            max-width: 600px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1100x){
        .header-second {
            .row {
                justify-content: center;
            }
            #main {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            #sidebar-second {
                display: none;
            }
        }
        #content {
            #block-top10-content {
                padding: 0 1rem;
            }
            #main {
                flex-direction: column;
                #main-content {
                    order: 1;
                }
                #sidebar-first {
                    order: 2;
                    .business-page-detail {
                        top: auto;
                        padding-top: 2rem;
                    }
                }
                #sidebar-second {
                    order: 3;
                    display: none;
                }
            }
        }
    }
    @media screen and (min-width: 300px) and (max-width: 767px) {
        .header-second {
            #main {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            #sidebar-second {
                display: none;
            }
        }
        #content {
            #block-top10-content {
                padding: 0 1rem;
            }
            #main {
                display: flex;
                flex-direction: column;
                #main-content {
                    order: 1;
                }
                #sidebar-first {
                    order: 0;
                    .business-page-detail {
                        top: auto;
                        padding-top: 2rem;
                        text-align: center;
                        img {
                            max-width: 90%;
                        }
                    }
                    #block-addtoanybuttons {
                        display: flex;
                        justify-content: center;
                        margin-top: 2rem;
                    }
                }
                #sidebar-second {
                    order: 2;
                    display: none;
                }
            }
        }
    }
    #main-content {
        h1,h2,h3,h4,h5,h5 {
            color: #000;
        }
    }
    #after-main {
        background: #FBFBFB;
        .bg-white {
            justify-content: flex-end;
            align-content: center;
            padding-right: 1.5rem;
            margin-bottom: 4rem;
            .col-md-12 {
                justify-content: flex-end;
                display: flex;
            }
            .addReviewBtn {
                width: 200px;
                margin-bottom: 2rem;
            }
        }
    }
}