// Ad styling

    .info {
        background: initial!important;
        &::before {
            display: none;
        }
    }
    .offers {
        .info {
            &::before {
                display: block;
            }
        }
    }
    .offer {
        max-width: none !important;
        min-height: 0% !important;
        margin-bottom: 1rem;
    }

body.stuck {
    position: relative;
    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000!important;
    }
}
#main-content {
    p {
        color: #C6C7C8;
        font-size: 1rem;
        line-height: 200%;
    }
}

.breadcrumb ol li:not(:last-child):after {
    content: "";
    font-size: 1.5rem;
    margin-left:10px;
    position: relative;
    top: 2px;
}
.two-sidebars #main {
    justify-content: center;
}
.two-sidebars aside {
    padding: 5px 10px;
}
.main-title {
    color: #fff!important;
    line-height: 1.2;
}
#header {
    padding-top: initial;
    margin-top: initial;
}
.header {
    background: #CCCDCE;
}
#navbar .region-navbar {
    max-width: 1540px;
    margin: 0 auto;
}
h1 {
    font-size: 50px;
    @media screen and (max-width: 900px) {
        font-size: 40px;
    }
    @media screen and (max-width: 600px) {
        font-size: 35px;
    }
}

@media (min-width: 1000px) {
    .no-sidebars .container {
        width: 1250px;
    }
}
