body.stuck {
    position: fixed;
    overflow: hidden;
}
.breadcrumb ol li:not(:last-child):after {
    content: "";
    font-size: 1.5rem;
    margin-left:10px;
    position: relative;
    top: 2px;
}
.two-sidebars #main {
    justify-content: center;
    #main-content {
        max-width: 600px;
    }
}

#header {
    padding-top: initial;
    margin-top: initial;
}
.header {
    background: #CCCDCE;
}


// @media (min-width: 728px) {
//     .two-sidebars #main {
//         display: flex;
//     }
//     #main-content {
//         order: 1!important;
//     }
//     #sidebar-first {
//         order: 0!important;
//     }
//     #sidebar-second {
//         order: 2!important;
//     }
//     .d-flex {
//         #main-content { 
//             order: 1!important;
//             width: 100vw;
//             text-align: center;
//         }
//         #sidebar-first { order: 0!important;}
//         #sidebar-first { order: 2!important;}
//     }
// }

// @media (min-width: 898px) {
//     .two-sidebars #main {
//         display: flex;
//     }
//     #main-content {
//         order: 1!important;
//     }
//     #sidebar-first {
//         order: 0!important;
//     }
//     #sidebar-second {
//         order: 2!important;
//     }
//     .d-flex {
//         #main-content { 
//             order: 1!important;
//         }
//         #sidebar-first { order: 0!important;}
//         #sidebar-second { order: 0!important;}
//     }
// }

// @media (min-width: 898px) {
//     .two-sidebars #main {
//         display: flex;
//     }

// }
