.taxonomy-listing-page-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
    .results-rows {
        grid-row: 1;
        grid-column: 2 / 5;
    }
    .pager {
        grid-row: 2;
        grid-column: 1 / 5;
    }
    .form-item {
        position: relative;
        select {
            background: #FBFCFD;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 90%;
            padding-left: 5rem;
        }
        label {
            position: absolute;
            z-index: 10;
            top: .45rem;
            left: 1rem;
            font-size: 1rem!important;
            &:after {
                content: " : "
            }
        }
    }
    .form-actions {
        input {
            @extend .buttn;
            @extend .buttn-success;
        }
    }


    @media screen and (max-width:900px) {
        .results-rows {
            grid-row: 2;
            grid-column: 1 / 5;
        }
    }
}
.path-search-by-state,
.path-taxonomy,
.page-node-type-page {
    #header {
        padding: 2rem 0;
    }
}
.taxonomy-avg-rating {
    div:first-child {
        justify-content: flex-end;
        align-items: center;
        font-size: 1.6rem;
    }
    .business_rating {
        margin-left: 1rem;
    }
    div:last-child {
        h4 {
            font-size: .9rem;
            margin: 0;
        }
    }
}